/* UH Logo for the navbar */
.logo{
    width: 35px;
}

.navbar{
    background-color: rgb(47, 45, 45);
}

/* text color for the links in the navbar right side */
.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

/* text color for the offcanvas links */
.nav-link2{
    color: black;
}
.nav-link2:hover{
    color:rgb(120, 126, 121);
}

/* burger icon in the navbar */
.burger:hover{
    background-color: rgb(94, 99, 90);
    color: white;
}

.burger-title{
   margin-left: 1rem;
}

.side-bar{
    width:0rem
}