.logo{
    width: 35px;

}

.navbar{
    background-color: rgb(47, 45, 45);
}

.nav-link {
    color: white;
}

.nav-link :hover {
    color: white;
}

.about-section {
    background-color: #d1e7dd;
  }
  
  .about-heading {
    color: #212529;
    font-weight: bold;
  }
  
  .about-content {
    color: #2c3e50;
  }