

/* Logo for the navbar */
.logo{
    width: 35px;
}

.navbar{
    background-color: #49625e;
    font-size: 1.2rem;
    /* box-shadow: 0 2px 3px 0 rgba(0,0,0,.2); */
    font-weight: 400;
    height: 4.5rem;
}

/* text color for the links in the navbar right side */
.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: #7bada1;
    text-decoration: underline !important;
    text-underline-offset: 0.4rem;
}

/* text color for the offcanvas links */    
.nav-link2{
    color: black;
    margin-left: 1rem !important; 

}
.nav-link2:hover{
    color:rgb(120, 126, 121);
}

/* burger icon in the navbar */
.burger{
    /* background-color: rgb(88, 126, 115); */
    color: rgb(255, 255, 255) !important;
}

.burger:hover{
    background-color: #b9cec8b1;
    color: black !important;
}

.burger:active{
    background-color: rgb(178, 200, 187) !important;
}

/* offcanvas */
.side-bar{
    width:22rem !important;
    background-color: rgb(244, 248, 241);
    border-radius: 0 0.6rem 0.6rem 0;
}

/* .offcanvas-backdrop{
    background-color: rgba(0, 0, 0, 0.465) !important;
    transition: transform 0.2s ease-in-out !important;
} */

/* close button for burger */
.side-bar-close{
    margin-right: 1.2rem;
    margin-top: 0.5rem;
}

.burger-title{
   margin-left: 2rem;
}

/* container for the top of the page */
.top-bg{
    background-color: #49625e;
}

.text1 {
    text-align: left;
    font-size: 2.9rem;
    margin-left: 8.3vw;
    font-weight: 600;
    font-family: 'open sans', sans-serif;
    color: white;
    letter-spacing: 0px;
    line-height:50px;
}

.text2 {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 8.3vw;
    font-weight: 400;
    line-height:35px;
    font-family: 'open sans', sans-serif;
    color: white !important;
}

.signup-button {
    font-size: 1.1rem;
    margin-left: 8.3vw;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    background-color: rgb(119, 136, 102);
}

.signup-button:hover{
    background-color: rgb(130, 157, 118);
    color: white;
}
.signup-button:active{
    background-color: rgb(116, 135, 103) !important;
    color: white !important;
}

.school-bg{
    border-radius: 2rem;
    width: 95%;
    height:65vh;
    object-fit: cover;
    margin-top: 3rem; 
    margin-bottom: 5rem; 
    margin-left: 5rem; 
}

/* section for calendar */
.section1{
    margin-top: 2rem;

    height: 70vh;
    display: flex;
    object-fit: cover;
    background-color: rgb(194, 224, 195);
}

.schedule-text{
    text-align: left;
    font-size: 2.7rem;
    margin-left: 8.2vw;
    font-weight: 600;
    font-family: 'open sans', sans-serif;
    /* color: rgb(88, 84, 83); */
    color: white;
    letter-spacing: 0px;
    line-height:50px;
    margin-right: 9rem;
    position: relative;
    left: 2.2rem;
}

.calendar-img {
    border-radius: 2rem;
    max-width: 94%;
    height: auto;
    display: block;
    position: relative;
    right: 8.4rem;
  }

/* .expand-on-hover {
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}
  
.expand-on-hover:hover{
    box-shadow: 0rem 0rem 3rem 0.3rem rgba(168, 161, 130, 0.177);
} */

/* section for profile */
.section2{
    margin-top: 2rem;
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: #49625e;  
}

/* section for messaging */
.section3{
    margin-top: 2rem;
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: rgb(194, 224, 195);
    
}


/* .info-button {
    font-size: 1.1rem;
    margin-left: 10.2vw;
    margin-top: 1rem;
    padding: 0.5rem 1.09rem;
    border-radius: 1.5rem;
} */

